body {
  background-color: var(--grey-light);
}

.container {
  max-width: 991px;
  margin: 0 auto;
  padding: 140px 10px 0 10px;
}

.svg {
  display: inline-block;
  width: 100%;
}

.svg__root {
  width: 100%;
  height: auto;
  fill: var(--color-primary);
  transition:
    fill 0.3s ease,
    stroke-width 0.3s ease;
}

.svg:active .svg__root,
.svg__root:active {
  fill: var(--color-primary-shade);
}

.svg--turn .svg {
  transform: rotateY(180deg);
}
