.header {
  --width-screen: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  max-height: 120px;
  background-color: var(--primary-color);
  box-shadow: 0 0 6px 3px var(--grey-dark);
  color: #fff;
}

@media (min-width: 992px) {
  .header {
    --width-screen: 991px;
  }
}

.headerTitle {
  color: #fff;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: calc(var(--width-screen) * 0.03);
}
